@charset "UTF-8";

.con{
	max-width: 1100px;
}

.btn-primary {
    background-color: hls(var(--p)/var(--tw-bg-opacity)) !import;
}

.login__box-sub-btns > a:hover {
	text-decoration: underline;
}

.section-article .table {
	text-align: none;
	font-size: 1rem;
}

.section-article .table .thead {
	text-align: center;
}
.section-article .table th {
	font-size: 1rem;
}
.section-article .table th:first-child {
	text-align: center;
}
.article-detail__box {
    border: 2px solid rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}